/* ====================GENERAL==================== */

head, body {
  font-family: "Gilroy", "sans-serif";
  font-size: 1rem;
  font-weight: 700;
  overflow-x: hidden;
}

.normal-swipe-on {
  overflow-y: auto;
}

.normal-swipe-off {
  overflow-y: hidden;
}

.wrapper {
  max-width: 100%;
  min-height: 100%;
  overflow: hidden;

}

.container {
  max-width: 1170px;
  height: 100%;
  margin: 0 auto;
}

.inner {
  padding: 0 70px;
}

/* ====================BLOCK==================== */


.button {
  background: linear-gradient(88deg, #0041A4 3.4%, #00A386 98.93%);
  box-shadow: 0px 10px 50px rgba(0, 221, 185, 0.25);
  border-radius: 15px;
  color: #fff;
  transition: transform .3s;
}

.button:hover {
  transform: scale(102.5%);
}

.title {
  font-size: 2.8125rem;
  line-height: 100%;
  text-transform: uppercase;
  margin-top: 30px;
  color: #465067;
}

.subtitle {
  font-size: 1.5625rem;
  line-height: 1.9375rem;
  color: #54994B;
}

.text {
  font-size: 1rem;
  line-height: 1.1875rem;
  color: #272727;
}

/* ====================SECTIONS==================== */

.header {
  position: relative;
  padding-bottom: 50px;
}

.main__about-us {
  padding: 50px 0 100px;
}

.main__types-services {
  padding-top: 0px;
}

.main__trust {
  padding-bottom: 0px;
}

.main__portfolio {
  padding: 100px 0 20px;
}

.main__feedback {
  padding-top: 80px;
}

.main__contact {
  padding: 100px 0;
}

.main__privacy {
  padding: 15px 0 97px;
  margin: -50px 0 0;
}

/* ====================HEADER-TOP==================== */

.header__back {
  background-color: #E8E8E8;
}

.header__back img {
  opacity: .1;
  margin: 0 auto;
}

.header__top {
  position: relative;
  z-index: 999;
  padding: 35px 0;
  color: #272727;
  font-size: 1.125rem;
  line-height: 1.375rem;
  white-space: nowrap;
}

.header__top--popup {
  display: none;
}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 21.5px 70px;
  border-radius: 15px;
  background-color: #fff;
}

.header__top-inner--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.header__main-logo {
  margin-right: 10px;
}

.header__nav-list {
  display: flex;
  gap: 40px;
  font-weight: 600;
}

.header__nav-item,
.header__contact-link {
  transition: color .3s;
}

.header__nav-item:hover,
.header__contact-link:hover {
  color: #0041A4;
}

.header__contact {
  margin-left: 10px;
}

.header__contact-link {
  position: relative;
  display: flex;
  padding: 0px 0 0px 40px;
}

.header__contact-link::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background: url('../content/icons/contact/tel.svg');
}

.header__contact-link:hover::before {
  animation: vibro-top 1s alternate infinite;

}

.header__menu {
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  transform: translateY(-100%);
  transition: transform .5s;
  display: none;
}

.header__menu--open {
  transform: translateY(0%);
}

.header__menu .header__nav-list {
  gap: 10;
}

/* ====================HEADER-BODY==================== */

.header__body {
  position: relative;
}

.header__set {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 0;
}

.header__background-slider {
  position: relative;
}

.header__background-slider::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  z-index: 1;
  background: url('../content/decor/header/2.svg') 50% 0 no-repeat;
  height: 100px;
}

.header__body::after {
  content: "";
  position: absolute;
  top: -422px;
  right: -376px;
  z-index: -1;
  background: url('../content/decor/header/1.svg') 0 0;
  width: 1392px;
  height: 1392px;
}

.header__body-inner {
  display: flex;
  justify-content: space-between;
  padding: 0 40px 100px 70px;
}

.header__slider-title {
  margin: 40px 0 90px;
}

.header__body-inner .slick-slider {
  font-size: 3.125rem;
  line-height: 3.875rem;
  color: #465067;
  text-transform: uppercase;
  max-width: 550px;
}

.header__buttons {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.header__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 270px;
  white-space: nowrap;
  padding: 20px 45px;
}

.header__row, .row {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__row, .row span {
  color: #272727;
  font-size: 1.125rem;
}

.header__dots, .dots .slick-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.slick-dots button {
  display: flex;
  align-items: center;
  font-size: 0;
  background-color: transparent;
  width: 50px;
  height: 30px;
}

.slick-dots button::before {
  content: "";
  background-color: #fff;
  border-radius: 4px;
  width: 50px;
  height: 4px;
  transition: all .3s;
}

.slick-active button::before {
  background-color: #0041A4;
}

.header__slider {
  display: block;
}

.header__slide {
  width: 505px;
  height: 496px;
}

.header__slide--1 {
  background: url('../content/images/header/1.svg') 0 0 / 505px 496px no-repeat;
}

.header__slide--2 {
  background: url('../content/images/header/2.svg') 0 100% / 470px 450px no-repeat;

}

.header__slide--3 {
  background: url('../content/images/header/3.svg') 0 100% / 450px 466px no-repeat;

}

/* .header__slider {
  border-radius: 50%;
  max-width: 505px;
  overflow: visible;
}

.header__slide:nth-child(1) img {
  max-width: 505px;
}

.header__slide:nth-child(2) img {
  max-width: 470px;
  transform: translate(0%, 10%);

}

.header__slide:nth-child(3) img {
  max-width: 450px;
  transform: translate(0%, 5%);
} */

/* ====================ABOUT-US-TOP==================== */

.about-us__top-inner {
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
  background: url("../content/images/about-us/background.svg") 0 0 no-repeat;
  border-radius: 35px;
}

.about-us__content-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-us__title {
  margin-bottom: 45px;
}

.about-us__content {
  max-width: 500px;
  margin-right: 20px;
}

.about-us__subtitle {
  margin-bottom: 19px;
}

.about-us__text {
  font-weight: 500;
}

.about-us__img-box img {
  max-width: 500px;
  min-width: 300px;
  min-height: 300px;
  border-radius: 20px;
  width: 100%;
  object-fit: cover;
}

.about-us__inner-btn {
  display: none;
}

/* ====================ABOUT-US-BOT==================== */

.about-us__row {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
}

.about-us__row-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-us__item-text {
  color: #272727;
  line-height: 1.25rem;
  margin-top: 24px;
  text-align: center;
  width: 270px;
}

/* ====================TYPES-SERVICES==================== */

.types-services {
  background: url('../content/images/types-services/background.svg') 50% 50% no-repeat;
  width: 100%;
  height: 781px;
}

.types-services__title {
  text-align: center;
  padding: 30px 0 50px;
  line-height: 85%;
  margin: 0;
}

.types-services__item {
  padding: 0 10px;
}

.types-services__img-box {
  position: relative;
  overflow: hidden;
  max-width: 270px;
}

.types-services__image {
  width: 100%;
}


.types-services__img-box::before,
.types-services__img-box::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 20px;
}

.types-services__img-box::before {
  background: linear-gradient(180deg, rgba(0, 102, 255, .3) 31%, #000000 100%);
  z-index: 1;
}

.types-services__img-box::after {
  background: linear-gradient(180deg, rgba(0, 102, 255, .3) 31%, #000000 100%);
  z-index: 0;
  opacity: 0;
  transition: opacity 1s;
}

.types-services__image {
  border-radius: 20px;
  opacity: 0.6;
  width: 100%;
}

.types-services__logo {
  position: absolute;
  bottom: 244px;
  left: 50%;
  width: 29.645%;
  z-index: 2;
  transform: translateX(-50%);
}

.types-services__text {
  position: absolute;
  bottom: 130px;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
  max-width: 200px;
  font-size: 1.25rem;
  line-height: 1.375rem;
  text-align: center;
  color: #fff;
  transition: transform .7s;
}

.types-services__text--last {
  font-size: 1.20rem;
  width: 270px;
}

.types-services__arrow {
  position: absolute;
  bottom: 60px;
  left: 50%;
  z-index: 2;
  transform: translateX(-50%);
  transition: transform 1s;
}


.types-services__img-box:hover .types-services__arrow {
  transform: rotatex(180deg) translateX(-50%);
  transition: all .5s;
}

.types-services__img-box:hover .elipse {
  transform: translateY(0%);
  transition: all .5s;
}

.types-services__img-box:hover .elipse__txt {
  opacity: 1;
  transition: opacity .5s .3s;
}

.types-services__img-box:hover .types-services__text {
  transform: translate(-50%, 100%);
  opacity: 0;
  transition: all .8s;
}

.types-services__img-box:hover::after {
  opacity: 1;
  transition: opacity .5s;
}

.elipse {
  position: absolute;
  display: block;
  bottom: 0;
  z-index: 1;
  background: #0066FF;
  width: 100%;
  height: 43%;
  border-radius: 100px 100px 20px 20px;
  transform: translateY(100%);
  transition: transform 1s;
}

.elipse__txt {
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity .2s;
  text-align: center;
  line-height: 100%;
  font-size: 1.5625rem;
  opacity: 0;
  color: #fff;
}

.types-services__row {
  display: none;
  justify-content: center;
  margin-top: 30px;
}

/* ====================TRUST==================== */

.trust__title {
  text-align: center;
  line-height: 85%;
  margin: -15px 0 50px;
}

.trust__company-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px 60px;
  flex-wrap: wrap;
}

.trust__company-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  padding: 0 60px;
  max-width: 350px;
  height: 260px;
  box-shadow: 0px 0px 100px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  object-fit: cover;
}

.trust__company-img {
  width: 100%;
  max-width: 250px;
  min-width: 170px;
}

/* ====================PORTFOLIO==================== */

.portfolio__inner {
  display: flex;
  flex-direction: column;
  margin-bottom: -90px;
  border-radius: 35px;
  background: url('../content/images/portfolio/background.svg') 0 0 no-repeat;
}

.portfolio__title {
  margin-bottom: 40px;
  max-width: 420px;
}

.portfolio__slide-inner {
  display: flex;
  justify-content: space-between;
}

.portfolio__content {
  margin-right: 10px;
  max-width: 397px;
}

.portfolio__info {
  margin-right: 30px;
}

.portfolio__subtitle {
  margin-bottom: 10px;
  font-weight: 500;
}

.portfolio__text {
  font-weight: 400;
}

.portfolio__img-box {
  overflow: hidden;
}

.portfolio__img-box img {
  border-radius: 20px;
  min-width: 360px;
  width: 100%;
}

.portfolio__arrows {
  display: inline-flex;
  align-items: center;
  position: relative;
  padding-left: 70px;
  gap: 64px;
  z-index: 10;
}

.portfolio__number {
  max-width: 103px;
  font-size: 5.3125rem;
  line-height: 90.5%;
  letter-spacing: 0.01rem;
  color: #333132;
}

.portfolio__number-two {
  min-width: 0;
  font-size: 3.3125rem;
}

.portfolio__row {
  display: none;
}

.portfolio__inner-btn {
  display: none;
}

/* ====================FEEDBACK==================== */

.feedback__inner {
  display: flex;
  flex-direction: column;
  border-radius: 35px;
  background: url('../content/images/feedback/background.svg') 0 0 no-repeat;
}

.feedback__title {
  color: #79A274;
  max-width: 300px;
  margin-bottom: 50px;
}

.feedback__form {
  padding-bottom: 100px;
}

.feedback__user-info {
  display: flex;
  gap: 30px;
  margin-bottom: 60px;
}

.feedback__area {
  width: 100%;
  min-width: 280px;
  padding: 24px 30px;
  border-radius: 15px;
  font-size: 1.125rem;
  font-weight: 600;
}

.feedback__message {
  width: 100%;
  height: 200px;
  resize: none;
  margin-bottom: 22px;
}

.feedback__accept {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feedback__agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 30px;
}

.checkbox {
  position: relative;
  width: 40px;
  height: 40px;
  flex: 0 0 auto;
}

.checkbox-default {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.checkbox-custom {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
  transition: border-radius .3s;
}

.checkbox-default:checked+.checkbox-custom {
  background: url('../content/icons/popup/check_green.svg') 50% 60% / auto no-repeat, #fff;
  border-radius: 15px;
}

.feedback__agreement-text {
  font-weight: 500;
  color: #272727;
}

.feedback__send {
  background-color: #79A274;
  color: #fff;
  padding: 21px 90px;
  border-radius: 15px;
  font-size: 1rem;
  font-weight: 700;
  transition: transform .3s;
}

.feedback__send:hover {
  transform: scale(102.5%);
}

/* ====================FEEDBACK==================== */

.contact__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.contact__content {
  margin-right: 20px;
}

.contact__title {
  margin: 0 0 22px;
}

.contact__info,
.footer__contact-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 20px;
}

.contact__info-item,
.footer__contact-info-item {
  position: relative;
  color: #272727;
  padding-left: 40px;
}

.contact__info-item::before,
.footer__contact-info-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
}

.contact__info-title {
  font-size: 1.125rem;
  line-height: 1.375rem;
  margin-bottom: 4px;
}

.contact__info-subtitle {
  font-weight: 400;
  line-height: 1.1875rem;
}

a.contact__info-subtitle {
  transition: color .3s;
}

a.contact__info-subtitle:hover {
  color: #0041A4;
}

.contact__info-subtitle span {
  display: inline-block;
  border-bottom: 1px solid;
}


.contact__info-item--geo::before {
  background: url('../content/icons/contact/geomark.svg');
}

.contact__info-item--tel::before {
  background: url('../content/icons/contact/tel.svg');
}

.contact__info-item--time::before {
  background: url('../content/icons/contact/clock.svg');
}

.contact__info-item--tel:hover:before {
  animation: vibro 1s alternate infinite;
}

.contact__info-item--time:hover:before {
  animation: vibro 1s alternate infinite;
}

.contact__info-item--geo:hover:before {
  animation: rotate 2s infinite;
}

@keyframes vibro-top {
  0% {
    transform: translatey(-50%) rotate(0deg);
  }

  25% {
    transform: translatey(-50%) rotate(-10deg);
  }

  50% {
    transform: translatey(-50%) rotate(10deg);
  }

  75% {
    transform: translatey(-50%) rotate(-10deg);
  }

  100% {
    transform: translatey(-50%) rotate(0deg);
  }
}

@keyframes vibro {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(10deg);
  }

  75% {
    transform: rotate(-10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-360deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.contact__social {
  margin-bottom: 30px;
}

.social {
  display: flex;
  gap: 20px;
}

.social-item {
  transition: transform .5s;
}

.social-item:hover {
  transform: translateY(-15%);
}

.policy {
  font-weight: 500;
  line-height: 1.1875rem;
  color: #8C8C8C;
  transition: color .3s;
}

.policy:hover {
  color: #0066FF;
}

.policy span {
  display: inline-block;
  border-bottom: 1px solid;
}

.contact__maps-box {
  width: 730px;
  height: 370px;
  border-radius: 15px;
  overflow: hidden;
}

.contact__maps-box iframe {
  border-radius: 15px;
}

/* ====================FOOTER-TOP==================== */

.footer {
  background-color: #E8E8E8;
  color: #272727;
}

.footer__top-inner {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 50px 70px 50px;
  gap: 20px;
}

.footer__description {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 400px;
}

.footer__description-text {
  font-weight: 500;
  line-height: 1.1875rem;
}

.footer__nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__nav-list {
  display: flex;
  flex-direction: column;
  gap: 27px;
  font-weight: 600;
}

.footer__nav-link {
  transition: color .3s;
}

.footer__nav-link:hover {
  color: #0041A4;
}

.footer__scrollup {
  position: absolute;
  top: -100px;
  right: -40px;
  width: 152px;
  height: 152px;
  background: transparent;
  border-radius: 50%;
}

.footer__scrollup::before {
  content: "";
  position: absolute;
  background: url("../content/icons/footer/go-back.svg");
  width: 152px;
  height: 152px;

}

.footer__bot-inner {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}

.footer__bot-label {
  white-space: nowrap;
}

.footer__bot-developed {
  white-space: nowrap;
}

.footer__bot-developed span {
  position: relative;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(90deg, #1b9fec, #0b2357, #dadd22 130%);
}

/* ====================PRIVACY==================== */

.privacy__title {
  margin-bottom: 40px;
  font-size: 1.5625rem;
}

.privacy__text {
  font-weight: 500;
}

/* ====================POPUP==================== */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 899;
  background-color: #c8c8c8b3;
  /* background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); 30fps */
  visibility: hidden;
  opacity: 0;
  transition: all .3s;
}

.overlay--active {
  visibility: visible;
  opacity: 1;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 900;
  opacity: 0;
  visibility: hidden;
  transition: all .5s;
}

.popup--active {
  opacity: 1;
  visibility: visible;
}

.popup__window {
  overflow: auto;
  max-width: 1000px;
  height: 100vh;
  max-height: 820px;
  background-color: #EEEEEE;
  border-radius: 20px;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
  transform: translateY(-100%);
  transition: transform .5s;
}

.popup__window--active {
  transform: translateX(0%);
}

.popup__inside-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 30px 50px 30px;
}
.popup__logo-mobile {
  display: none;
}

.popup__close {
  transition: all 3s;
}

.popup__close path, svg {
  transition: all 0.5s;
}

.popup__close path {
  opacity: .6;
}

.popup__close svg {
  border-radius: 50%;
}

.popup__close:hover path {
  opacity: 1;
}

.popup__close:hover svg {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.popup__inside-body {
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

.popup__inside-content {
  max-width: 350px;
  margin-right: 20px;
}

.popup__inside-title {
  margin: 0 0 16px;
  font-size: 4.0625rem;
}

.popup__inside-text {
  font-weight: 500;
  font-size: 1.875rem;
  line-height: 2.25rem;
  color: #272727;
}

.popup__inside-form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  font-weight: 500;
}

.popup__form-info {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 20px;
}

.popup__form-info input, textarea {
  border-radius: 15px;
  padding: 24px 30px;
  font-size: 1.125rem;
}

.popup__form-info input {
  height: 70px;
}

.popup__form-info textarea {
  height: 200px;
  resize: none;
}

.popup__agreement {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.popup__checkbox {
  width: 40px;
  height: 40px;
}

.popup__checkbox-custom {
  border-radius: 10px;
  transition: border-radius .3s;
}

.popup__checkbox-default:checked+.popup__checkbox-custom {
  background: url('../content/icons/popup/check_blue.svg') 50% 55% no-repeat, #fff;
  border-radius: 15px;

}

.popup__agreement-text {
  color: #272727;
  margin-left: 10px;
  font-size: 0.875rem;
}

.popup__send {
  height: 60px;
  font-size: 1.25rem;
  font-weight: 700;
}

.burger {
  position: relative;
}

.burger span {
  width: 36px;
  height: 4px;
  background-color: #272727;
  margin: 7px 0;
}

.burger::before,
.burger::after {
  content: "";
  width: 36px;
  height: 4px;
  background-color: #272727;
  transition: all .3s;
}

.burger--close span {
  visibility: hidden;
}

.burger--close::before {
  content: "";
  transform: rotate(45deg) translate(8px, 8px);
  ;
}

.burger--close::after {
  content: "";
  transform: rotate(-45deg) translate(7px, -8px);
  ;
}

/* ====================ADAPTIVE==================== */

/* ====================ADAPTIVE-1200PX==================== */

@media (max-width: 1200px) {

  .header__nav--close,
  .header__contact {
    display: none;
  }

  .header__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #fff;
    padding-bottom: 20px;
  }

  .header__nav-list {
    flex-direction: column;
    text-align: center;
  }

  .header__top {
    padding: 0;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  }

  .header__top-inner {
    padding: 21.5px 20px;
  }

  .burger span,
  .burger::before,
  .burger::after,
  .burger--close span,
  .burger--close::before,
  .burger--close::after {
    display: block;
  }

  .header__body-inner {
    justify-content: center;
    flex-direction: column-reverse;
    padding: 30px 0px 0px 0px;
  }

  .header__buttons {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .header__body-inner .slick-slider {
    text-align: center;
    margin: 0 auto 40px;
    max-width: 100%;
  }

  .header__slider {
    /* display: block; */
  }

  .header__slide {
    width: 324px;
    height: 329px;
    background-position: 53%;
  }

  .header__slide--1 {
    background-size: 324px 329px;
  }

  .header__slide--2 {
    background-size: 310px 311px;
  }

  .header__slide--3 {
    background-size: 297px 304px;
  }

  .header__background-slider::before {
    content: none;
  }

  .header__body::after {
    content: none;
  }

  .header__body {
    background: url('../content/decor/header/1.svg') 50% 75% / 1000px 1000px no-repeat;
  }

  .portfolio__inner {
    margin-bottom: 0px;
  }

  .footer__scrollup-box {
    display: none;
  }

}

/* ====================ADAPTIVE-1100PX==================== */

@media (max-width: 1100px) {
  .header__body-inner .slick-slider {
    font-size: 2.125rem;
  }
}

/* ====================ADAPTIVE-1000PX==================== */

@media (max-width: 1000px) {
  .elipse {
    z-index: 1;
  }

  .types-services__row {
    display: flex;
  }

  .types-services__list .slick-track {
    display: flex;
  }

  .types-services__list .slick-slide {
    display: flex;
    justify-content: center;
  }
}

/* ====================ADAPTIVE-900PX==================== */

@media (max-width: 900px) {}

/* ====================ADAPTIVE-850PX==================== */

@media (max-width: 850px) {
  .about-us__top-inner {
    padding: 0 20px 20px;
  }

  .about-us__img-box {
    max-width: 500px;
  }

  .about-us__img-box img {
    min-width: 280px;
    min-height: 190px;
    width: 100%;
  }

  .about-us__top-inner {
    background: url(../content/images/about-us/background__mobil.svg) 50% 0 / auto no-repeat;
    ;
  }

  .about-us__title {
    text-align: center;
  }

  .about-us__content {
    margin: 20px 0 0 0;
  }

  .about-us__content-inner {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .portfolio__inner {
    padding: 0 20px;
    background: url("../content/images/portfolio/background-mobile.svg") 50% 0 no-repeat;
  }

  .portfolio__title-inner {
    display: flex;
    justify-content: center;
  }

  .portfolio__row {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

  }

  .portfolio__title {
    text-align: center;
    margin-bottom: 20px;
  }

  .portfolio__slider {
    padding-bottom: 20px;
  }

  .portfolio__slide-inner {
    position: relative;
    flex-direction: column-reverse;
    align-items: center;
  }

  .portfolio__img-box img {
    max-width: 400px;
    min-width: 280px;
    min-height: 270px;
    margin-bottom: 20px;
  }

  .portfolio__arrows {
    visibility: hidden;
  }

  .contact__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact__content {
    margin: 0 0 30px;
    text-align: center;
  }

  .contact__info-item {
    padding: 40px 0 0;
  }

  .contact__info-item::before {
    left: 50%;
    transform: translateX(-50%);
  }

  .contact__info {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .contact__maps-box {
    width: 100%;
    max-width: 730px;
    min-width: 280px;
    height: 280px;
  }

  @keyframes vibro {
    0% {
      transform: rotate(0deg) translate(-50%);
    }

    25% {
      transform: rotate(-10deg) translate(-50%);
    }

    50% {
      transform: rotate(10deg) translate(-50%);
    }

    75% {
      transform: rotate(-10deg) translate(-50%);
    }

    100% {
      transform: rotate(0deg) translate(-50%);
    }
  }

  @keyframes rotate {
    0% {
      transform: translateX(-50%) rotate(0deg);
    }

    50% {
      transform: translateX(-50%) rotate(-360deg);
    }

    100% {
      transform: translateX(-50%) rotate(0deg);
    }
  }

  .footer__top-inner {
    flex-direction: column;
    align-items: center;
  }

  .footer__description-text {
    text-align: center;
  }

  .footer__nav,
  .footer__contact {
    display: none;
  }
}

/* ====================ADAPTIVE-750PX==================== */

@media (max-width: 750px) {
  .header__body-inner .slick-slider {
    font-size: 2rem;
  }

  .header__body {
    background: url('../content/decor/header/1.svg') 80% 115% / 700px 700px no-repeat;
  }

  .header__slide {
    width: 234px;
    height: 229px;
    background-position: 55%;
  }

  .header__slide--1 {
    background-size: 234px 229px;
  }

  .header__slide--2 {
    background-size: 220px 221px;
  }

  .header__slide--3 {
    background-size: 207px 214px;
  }

  /* ====================ADAPTIVE-700PX==================== */

  @media (max-width: 700px) {
    .header__body {
      background: url('../content/decor/header/1.svg') 50% 190% / 700px 700px no-repeat;
    }

    .feedback__inner {
      background: url('../content/images/feedback/background-mobile.svg') 50% 0 no-repeat;
    }

    .feedback__title {
      text-align: center;
      max-width: none;
    }

    .feedback__user-info {
      display: flex;
      flex-direction: column;
    }

  }

  /* ====================ADAPTIVE-500PX==================== */

  @media (max-width: 500px) {
    .header__body-inner {
      padding-top: 30px;
    }

    .header__body-inner .slick-slider {
      font-size: 2rem;
    }
  }

  @media (max-width: 474px) {
    .header__body {
      background: url('../content/decor/header/1.svg') 50% -59% / 500px 500px no-repeat;
    }
  }

  /* ====================ADAPTIVE-450PX==================== */

  @media (max-width: 450px) {

    .header__top--off {
      visibility: hidden;
    }

    .header__body {
      background: url('../content/decor/header/1.svg') 55% -100% / 500px 500px no-repeat;
    }

    .header__body-inner {
      padding-top: 50px;
    }

    .header__body-inner .slick-slider {
      font-size: 1.25rem;
      line-height: 1.5625rem;
      max-width: 280px;
    }

    .title {
      font-size: 2.1875rem;
    }

    .about-us__subtitle,
    .portfolio__subtitle {
      font-size: 1.125rem;
      line-height: 1.375rem;
    }

    .about-us__text,
    .portfolio__text,
    .popup__inside-text {
      font-size: 0.875rem;
    }

    .trust__inner {
      padding: 0 20px;
    }

    .trust__company-box {
      height: 100%;
      min-height: 120px;
    }

    .feedback__inner {
      align-items: center;
      padding: 0 20px;
    }

    .feedback__title {
      font-size: 2.1875rem;
      max-width: 170px;
    }

    .feedback__agreement-text {
      font-size: .9rem;
    }

    .footer__bot-inner {
      flex-direction: column;
      align-items: center;
      gap: 20px;
    }

    .header__top--popup {
      display: block;
      visibility: visible;
    }

    .popup__window {
      background: url('../content/images/popup/background-mobile.svg') 0 265px no-repeat, #fff;
      background-attachment: local;
    }

    .popup__logo-desc {
      display: none;
    }
    .popup__logo-mobile {
      display: block;
    }

    .popup__close {
      display: none;
    }

    .popup__inside-body {
      display: flex;
      flex-direction: column;
      padding: 20px;
    }

    .popup__inside-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      margin: 0;
    }

    .popup__inside-title {
      max-width: 170px;
      align-self: center;
    }

    .popup__inside-text {
      line-height: 1.0625rem;
      margin-bottom: 20px;
    }
  }

  /* ====================ADAPTIVE-400PX==================== */

  @media (max-width: 400px) {

    .about-us__top-inner,
    .portfolio__inner {
      position: relative;
    }

    .about-us__inner-btn,
    .portfolio__inner-btn {
      display: block;
      position: absolute;
      bottom: -30px;
      left: 50%;
      z-index: 1;
      transform: translatex(-50%);
      width: 60px;
      height: 60px;
      border-radius: 50%;
      background-color: #ffffff;
      transition: transform .3s;
    }

    .about-us__inner-btn--active,
    .portfolio__inner-btn--active {
      transform: translate(-50%, 20%);
    }

    .about-us__inner-checkmark,
    .portfolio__inner-checkmark {
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 2;
      width: 18px;
      height: 11px;
      transform: translate(-50%, -50%);
      transition: transform .3s;
    }

    .about-us__inner-checkmark--active,
    .portfolio__inner-checkmark--active {
      transform: translate(-50%, -50%) rotatex(180deg);
    }

    .about-us__inner-btn::before,
    .portfolio__inner-btn::before {
      content: "";
      position: absolute;
      bottom: 50%;
      left: 50%;
      z-index: 2;
      transform: translate(-51%, 51%);
      width: 48px;
      height: 48px;
      border-radius: 50%;
      background: #E8E8E8;
    }

    .about-us__text,
    .portfolio__text {
      position: relative;
      height: 130px;
      overflow: hidden;
    }

    .about-us__text--disable,
    .portfolio__text--disable {
      height: auto;
      overflow: visible;
    }

    .portfolio__slider {
      position: relative;
    }

    .about-us__text-grd,
    .portfolio__text-grd {
      text-align: right;
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      height: 5rem;
      border-radius: 20px;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0), #e8e8e8cc 100%);
      pointer-events: none;
    }

    .about-us__text-grd--disable,
    .portfolio__text-grd--disable {
      display: none;
    }

    .portfolio__text-grd {
      border-radius: 0;
    }
  }

  /* ====================ADAPTIVE-400PX==================== */

  @media (max-width: 350px) {
    .types-services__dots .slick-dots {
      gap: 10px;
    }
  }
}